In [2]:
import pandas as pd

In [15]:

final_df = pd.DataFrame()
metric = 'cpu'
for microservice in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']:
    df= pd.read_csv('results/microservice '+microservice+'/'+metric+'/hyper_parameter/mse.csv')
    final_df[metric+microservice] = df.iloc[:, 1:].min(axis=1)

final_df['modelo'] = df.iloc[:, 0]
final_df.set_index('modelo', inplace=True)
final_df["mean"] = final_df.mean(axis=1)
final_df["std"] = final_df.std(axis=1)

#final_df[['mean', 'std']]*1000
#final_df[['mean', 'std']].sort_values(by='mean', ascending=False)*1000
final_df[['mean', 'std']].sort_values(by='mean')*1000
#print(df[["Unnamed: 0", "Menor_Valor"]])

                  mean        std
modelo
svr           3.232174   1.871235
deep-ar       5.308581   5.615857
tft           5.629049   5.860966
mlp           9.349765   6.732828
lstm         16.830873  13.191151
rf           20.252708  26.338583
deep-state   20.393134  38.277900
xgboost      42.477039  48.141089
arima        82.019133  70.908989
da-rnn      107.072476  79.905661

In [18]:

final_df = pd.DataFrame()
metric = 'cpu'
for microservice in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']:
    df= pd.read_csv('results/microservice '+microservice+'/'+metric+'/hyper_parameter/mae.csv')
    final_df[metric+microservice] = df.iloc[:, 1:].min(axis=1)

final_df['modelo'] = df.iloc[:, 0]
final_df.set_index('modelo', inplace=True)
final_df["mean"] = final_df.mean(axis=1)
final_df["std"] = final_df.std(axis=1)

#final_df[['mean', 'std']].sort_values(by='mean', ascending=False)*100
final_df[['mean', 'std']].sort_values(by='mean')*100
#print(df[["Unnamed: 0", "Menor_Valor"]])

                 mean        std
modelo
svr          3.367993   1.093138
tft          3.868233   1.927873
deep-ar      3.917936   1.760871
mlp          6.843015   2.851440
deep-state   8.317760   7.986210
rf           9.280705   6.822251
lstm         9.845431   4.609638
xgboost     14.850580   9.412493
arima       21.963038  12.522262
da-rnn      27.809160  11.498224